In [1]:
import pandas as pd
import numpy as np

In [3]:
df =pd.read_csv('Diabetes Classification.csv')
df

,Age,Gender,BMI,Blood Pressure,FBS,HbA1c,Family History of Diabetes,Smoking,Diet,Exercise,Diagnosis
0,45,Male,25,Normal,100,5.7,No,No,Healthy,Regular,No
1,55,Female,30,High,120,6.4,Yes,Yes,Poor,No,Yes
2,65,Male,35,High,140,7.1,Yes,Yes,Poor,No,Yes
3,75,Female,40,High,160,7.8,Yes,Yes,Poor,No,Yes
4,40,Male,20,Normal,80,5.0,No,No,Healthy,Regular,No
...,...,...,...,...,...,...,...,...,...,...,...
123,17,Female,15,Normal,100,5.7,No,Yes,Poor,No,Yes
124,22,Male,19,Normal,120,6.4,No,Yes,Poor,No,Yes
125,27,Female,24,High,140,7.1,No,Yes,Poor,No,Yes
126,32,Male,29,High,160,7.8,No,Yes,Poor,No,Yes
127,37,Female,34,High,180,8.5,No,Yes,Poor,No,Yes

In [5]:
df.head()

,Age,Gender,BMI,Blood Pressure,FBS,HbA1c,Family History of Diabetes,Smoking,Diet,Exercise,Diagnosis
0,45,Male,25,Normal,100,5.7,No,No,Healthy,Regular,No
1,55,Female,30,High,120,6.4,Yes,Yes,Poor,No,Yes
2,65,Male,35,High,140,7.1,Yes,Yes,Poor,No,Yes
3,75,Female,40,High,160,7.8,Yes,Yes,Poor,No,Yes
4,40,Male,20,Normal,80,5.0,No,No,Healthy,Regular,No

In [7]:
df.tail()

,Age,Gender,BMI,Blood Pressure,FBS,HbA1c,Family History of Diabetes,Smoking,Diet,Exercise,Diagnosis
123,17,Female,15,Normal,100,5.7,No,Yes,Poor,No,Yes
124,22,Male,19,Normal,120,6.4,No,Yes,Poor,No,Yes
125,27,Female,24,High,140,7.1,No,Yes,Poor,No,Yes
126,32,Male,29,High,160,7.8,No,Yes,Poor,No,Yes
127,37,Female,34,High,180,8.5,No,Yes,Poor,No,Yes

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         128 non-null    int64
 1   Gender                      128 non-null    object
 2   BMI                         128 non-null    int64
 3   Blood Pressure              128 non-null    object
 4   FBS                         128 non-null    int64
 5   HbA1c                       128 non-null    float64
 6   Family History of Diabetes  128 non-null    object
 7   Smoking                     128 non-null    object
 8   Diet                        128 non-null    object
 9   Exercise                    128 non-null    object
 10  Diagnosis                   128 non-null    object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.1+ KB

In [11]:
df.shape

(128, 11)

In [13]:
df.describe()

              Age         BMI         FBS       HbA1c
count  128.000000  128.000000  128.000000  128.000000
mean    42.031250   35.359375  162.500000    7.887500
std     16.783915   14.981739   61.323975    2.146339
min     12.000000   10.000000   80.000000    5.000000
25%     28.000000   24.000000  120.000000    6.400000
50%     40.000000   34.000000  160.000000    7.800000
75%     55.000000   45.500000  205.000000    9.375000
max     75.000000   67.000000  280.000000   12.000000

In [15]:
df.isnull().sum()

Age                           0
Gender                        0
BMI                           0
Blood Pressure                0
FBS                           0
HbA1c                         0
Family History of Diabetes    0
Smoking                       0
Diet                          0
Exercise                      0
Diagnosis                     0
dtype: int64

In [17]:
df.duplicated().sum()

0

In [19]:
for columns in df.columns:
    print(df[columns].value_counts())

Age
40    8
45    7
50    7
55    6
35    6
30    6
25    6
60    6
65    6
70    4
75    4
27    3
22    3
17    3
12    3
20    3
15    3
33    3
43    3
38    3
37    3
28    3
23    3
18    3
32    3
57    2
52    2
47    2
42    2
48    2
68    2
63    2
58    2
53    2
62    2
Name: count, dtype: int64
Gender
Male      68
Female    60
Name: count, dtype: int64
BMI
25    7
30    7
35    7
15    6
34    6
29    6
24    6
19    6
40    5
20    5
39    5
59    4
54    4
49    4
44    4
14    3
10    3
42    3
37    3
17    3
27    3
32    3
22    3
67    2
62    2
52    2
57    2
65    2
60    2
55    2
50    2
45    2
64    2
47    2
Name: count, dtype: int64
Blood Pressure
High      79
Normal    39
Low       10
Name: count, dtype: int64
FBS
100    16
120    16
140    16
80     15
160    13
180    12
200     8
220     8
240     8
260     8
280     8
Name: count, dtype: int64
HbA1c
5.7     16
6.4     16
7.1     16
5.0     15
7.8     13
8.5     12
9.2      8
9.9      8
10.6     8
11.3     8
12.0     8
Name: count, dtype: int64
Family History of Diabetes
No     77
Yes    51
Name: count, dtype: int64
Smoking
Yes    79
No     49
Name: count, dtype: int64
Diet
Poor       79
Healthy    49
Name: count, dtype: int64
Exercise
No         79
Regular    49
Name: count, dtype: int64
Diagnosis
No     97
Yes    31
Name: count, dtype: int64

In [21]:
df.dtypes

Age                             int64
Gender                         object
BMI                             int64
Blood Pressure                 object
FBS                             int64
HbA1c                         float64
Family History of Diabetes     object
Smoking                        object
Diet                           object
Exercise                       object
Diagnosis                      object
dtype: object

In [23]:
df

,Age,Gender,BMI,Blood Pressure,FBS,HbA1c,Family History of Diabetes,Smoking,Diet,Exercise,Diagnosis
0,45,Male,25,Normal,100,5.7,No,No,Healthy,Regular,No
1,55,Female,30,High,120,6.4,Yes,Yes,Poor,No,Yes
2,65,Male,35,High,140,7.1,Yes,Yes,Poor,No,Yes
3,75,Female,40,High,160,7.8,Yes,Yes,Poor,No,Yes
4,40,Male,20,Normal,80,5.0,No,No,Healthy,Regular,No
...,...,...,...,...,...,...,...,...,...,...,...
123,17,Female,15,Normal,100,5.7,No,Yes,Poor,No,Yes
124,22,Male,19,Normal,120,6.4,No,Yes,Poor,No,Yes
125,27,Female,24,High,140,7.1,No,Yes,Poor,No,Yes
126,32,Male,29,High,160,7.8,No,Yes,Poor,No,Yes
127,37,Female,34,High,180,8.5,No,Yes,Poor,No,Yes